#(project
  (#(meta
     (#(name lmug-inets)
      #(description "An lmug adapter for the OTP inets web server")
      #(version "0.0.1")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "lmug" "Ring" "WSGI" "Web"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos (#(github "lfe-mug/lmug-inets")))))))

#(logging (
   #(log-level debug)
   #(colored true)
   #(colors (#(timestamp (color green))
             #(process (color cyan))
             #(date (color green))
             #(time (color green))
             #(modfunc (color yellow))
             #(message (color green))
             #(debug (color greenb))
             #(info (color blue))
             #(notice (color cyan))
             #(warning (color yellow))
             #(error (color red))
             #(critical (color yellowb))
             #(alert (color magentab))
             #(emergency (color redb))))
   #(backend lager)
   #(options (#(lager_console_backend (
                debug
                #(logjam-formatter
                  (date " " time " [" pid "] [" severity "] " message "\n"))))))))
